.logo__container{
    display: flex;
    flex-direction: column;
}

.logo__container > h2{
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #598216;
   font-style: italic;
   font-weight: bold;
}

.logo__container > img{
    max-width: 120px !important;
}

.nav__bar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); */
    width: auto;
    padding: 0;
    align-items: center;
}

.menu{
    display: flex;
    /* padding: 5px; */
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #757575;
    padding: 0px 10px 0px 20px;
    text-decoration: none;
    background: #fff;
    /* border: 1px solid #ddd; */
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease;
}

.menu a{
    color: #757575;
    text-decoration: none;
}

.menu a:hover{
    color: black;
    text-decoration: underline #96be11;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.subscribe{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); 
    background-color: #96be11;
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    margin-left: 15px;
}

.about{
    /* max-width: 1200px; */
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid gray;
}

.about h2{
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
}

.about_description{
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* width: auto; */
    padding: 0;
    align-items: center;
}

.desc__column{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    border: 1px solid black;
}

.desc__column h3 p{
    text-align: center;
}

.card {
    width: 280px;
    height: 420px;
    /* border-radius: 15px; */
    padding: 1.5rem;
    background: white;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    /* background-image: url("./assets/mission.png");
    background-repeat: no-repeat; */
  }

  .card_title {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.card img {
    width: 100%;
    height: 30%;
    /* -o-object-fit: cover;
       object-fit: cover;
    position: absolute; */
    top: 0;
    left: 0;
    opacity: 1;
    /* border-radius: 15px; */
  }

  .info{
    /* padding-bottom: 100px; */
    margin: 0;
    padding: 0;
    
  }

  .card__header{
      height: 40px;
      text-align: center;
      color: black;
      margin-top: 5px;
  }

 .card_heading{
     padding-top: 5px;
      height: 40px !important;
  }

  /*product section */

  .products{
    border-bottom: 2px solid gray;
  }

  .products h2{
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
  }

  .products__container{
      display: flex;
      padding-left: 30px;
      padding-right: 30px;
      justify-content: space-between;
      padding-bottom: 10px;

  }

  .product{
    margin-right: 50px !important;
    width: 280px;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    
  }

  .product:hover{
    border: 1px solid #777;
  }

  .product__image{
      width: 280px;
      height: 250px;
  }

  .product__desc{
    padding: 15px;
    text-align: center;
  }

  /*gallery section */
  
  .gallery{
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
  }

  .gallery h2{
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
  }

  .gallery__container{
    display: flex;
    color: black;
  }

  .item__image{
    width: 100%;
    height: 65%;
  }

  .item__description{
    padding-bottom: 10px;
    color: #777;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 20px;
  }

  /* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

.row{
  width: 680px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.item__container {
  width: 500px;
  position: relative;
  display: none;
  border: 1px solid #ddd;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.item__container__preview{
  width: 500px;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.item__container__preview > h2{
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin-top: 40%;
  margin-bottom: 40%;
  color: #777;
}


/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

  /*contact section */
  
  .contact{
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
  }

  .contact__section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .contact h2{
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
}

  .address{
      display: flex;
      flex-direction: column;
      flex: 0.45;
      padding-right: 20px;
      padding-left: 10px;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
      padding-bottom: 5px;
  }

  .address > h3{
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
  }

  .contact__form >h3{
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
  }

  .address > p{
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-top: 10px;
    margin: 0 !important;
  }

  .contact__form{
    display: flex;
    flex: 0.53;
    flex-direction: column;
    padding-left: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }

  .contact__form > h3{
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .contact__name{
    width: 330px;
    height: 40px;
    border: 1px solid gray;
    font-size: 20px;
    margin-bottom: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .contact__email{
    width: 400px;
    height: 40px;
    border: 1px solid gray;
    font-size: 20px;
    margin-bottom: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .contact__query{
    width: 600px;
    border: 1px solid gray;
    font-size: 18px;
    margin-bottom: 10px;
    resize: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .contact__name:focus{
    outline: none !important;
    border: 1px solid #416422;
  }

  .contact__email:focus{
    outline: none !important;
    border: 1px solid #416422;
  }

  .contact__query:focus{
    outline: none !important;
    border: 1px solid #416422;
  }

  .send__button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #416422;
    text-decoration: none;
    border: 1px solid white;
    outline: none !important;
  }

  .send__button:hover{
      border: 1px solid #416422;
      color: #416422;
      background-color: white;
  }

  .map{
    width: 400px;
    height:280px;
  }

  /*footer section*/
 
.footer{
    /* border-top: 2px solid gray; */
    padding-top: 10px;
    text-align: center;
}

/* scroll to top */
.top-scrollerx {
  position: fixed;
      bottom: 100px;
      right: 10px;
      font-size: 1em;
      display: none;
      z-index: 999;
      text-align: center;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      /* background: rgba(0,0,0,.35); */
      background-color: whitesmoke;
      color: black;
      font-weight: bold;
      line-height: 40px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  }
   .top-scrollerx:hover {
      background: rgba(0,0,0,.5);
      color: whitesmoke;
      font-weight: bold;
  }

/*Media query for mobile view*/
/* @media screen and (max-width: 800px) {
    .cards {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      align-items: center;
    }
    .contactInfo__container{
        display: none;
    }
    .cards_item {
        padding-left: 35px;
   }
   .contactInfo__container__mobile{
        display: block;
   }
   .breadcrumbs__mobile li{
       list-style: none;
   }
   .list__mobile{
       padding-bottom: 5px;
       display: flex;
       color: #757578;
       
   }
   .social__mobile{
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
        padding: 6px;
        border-radius: 50%;
   }
   .facebook__icon{
       padding-top: 6px;
       padding-left: 10px;
       padding-right: 10px;
       padding-bottom: 6px;
   }
   .instagram__icon{
    padding-left: 8px;
    padding-right: 8px;
   }
   .googlePlus__icon{
    padding-left: 5px;
    padding-right: 5px; 
   }
   .twitter__icon{
    padding-left: 7px;
    padding-right: 7px;  
   }
   .linkedIn__Icon{
    padding-left: 8px;
    padding-right: 8px;  
   }
   .breadcrumbs__mobile li a{
    color: #757575;
    text-decoration: none !important;
   }
   .container{
       width: 100%;
   }
    .logo__container > img {
    max-width: 130px !important;
    }
  } */
  