.header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  border-bottom: 2px solid gray;
}
.logo__container {
    display: flex;
    float: left;
    align-items: center;
    padding-left: 30px;
   
   
}

.logo__container > img{
    max-width: 110px;
}

.contactInfo__container{
    display: flex;
    align-items: center;
    height: auto;
    padding-right: 30px;
    padding-bottom: 10px;
    flex-direction: column;
}

.email__icon, .phone__icon{ 
    padding-right: 5px !important;
}

ul.breadcrumbs {
    margin: 25px 0px 0px;
    padding: 0px;
    font-size: 0px;
    line-height: 0px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
ul.breadcrumbs li {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    border-left: 1px solid #ccc;
    transition: 0.3s ease;
}
ul.breadcrumbs li:hover:before {
    border-left: 10px solid #96be11;
}
ul.breadcrumbs li:hover a {
    color: #000;
    background: #96be11;
}
ul.breadcrumbs li:before {
    content: "";
    position: absolute;
    right: -9px;
    top: -1px;
    z-index: 20;
    border-left: 10px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    transition: 0.3s ease;
}
ul.breadcrumbs li:after {
    content: "";
    position: absolute;
    right: -10px;
    top: -1px;
    z-index: 10;
    border-left: 10px solid #ccc;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}
ul.breadcrumbs li.active a {
    color: #000;
    background: #96be11;
}
ul.breadcrumbs li.first {
    border-left: none;
}
ul.breadcrumbs li.first a {
    font-size: 18px;
    padding-left: 20px;
    border-radius: 5px 0px 0px 5px;
}
ul.breadcrumbs li.last:before {
    display: none;
}
ul.breadcrumbs li.last:after {
    display: none;
}
ul.breadcrumbs li.last a {
    padding-right: 20px;
    border-radius: 0px 40px 40px 0px;
}
ul.breadcrumbs li a {
    display: block;
    font-size: 12px;
    line-height: 40px;
    color: #757575;
    padding: 0px 15px 0px 25px;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s ease;
}

/* Subscribe modal*/
.modal-container {
    /* margin: 60px auto;
    padding-top: 0px;
    position: relative;
    width: 160px; */
}
.modal-container .modal-btn {
    /* display: block;
    margin: 0 auto;
    color: #fff;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background: #446cb3;
    font-size: 22px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in; */

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); 
    background-color: #96be11;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    margin-left: 15px;
}
.modal-container .modal-btn:hover {
    background: #96be11;
}
.modal-container .modal-content, .modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}
.modal-container .modal-close {
    color: #aaa;
    position: absolute;
    /* right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px; */
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.modal-container .modal-close:hover {
    color: #333;
}
.modal-container .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446cb3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
}
.modal-container .modal-content-btn:hover {
    color: #fff;
    background: #365690;
}
.modal-container #modal-toggle {
    display: none;
}
.modal-container #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}
.modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    max-width: 400px;
    width: 400px;
    height: 280px;
    padding: 10px 30px;
    position: fixed;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 400px) {
    .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
        left: 0;
   }
}

